<!DOCTYPE html>
<html>
  <head>
    <title>WebDev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bulma-extensions', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  </head>

  <body>


  <%= render partial: 'layouts/navbar' if user_signed_in? %>
  <%= toastr_flash %>


  <%= yield %>

  </body>
</html>
